{% extends 'front/base.html' %}
{% load static %}

{% block content %}
<div class="wrapper">
    <div class="page-header header-filter">
      <div class="page-header-image" data-parallax="true" style="background-image: url({% static 'front/img/indo.jpg' %});"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h1 class="title">RNEWS </h1>
            <div class="author">
            </div>
            
          </div>
        </div>
      </div>
    </div>

    {% for a in api_kategori_berita  %}
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h6 class="category">{{a.publishedAt}}</h6>
            <h3 class="title">{{a.title}}</h3>
            <img class="img img-raised" src="{{a.urlToImage}}">
            <p>{{a.description|safe|truncatechars:200}}</p>
            <a class="btn btn-danger btn-round btn-sm" href="{{a.url}}"> Read More </a>
            
        </div>
      </div>
    </div>
   
{% endfor %}


    {% for a in artikel  %}
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h6 class="category">{{a.date}}</h6>
            <h3 class="title">{{a.judul}}</h3>
            <p>{{a.body|safe|truncatechars:200}}</p>
            
            <a class="btn btn-danger btn-round btn-sm" href="{% url 'detail_artikel' a.id %}"> Read More </a>
        </div>
      </div>
    </div>
   
{% endfor %}
    <div class="section section-blog-info">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <div class="row">
              <div class="col-md-10">
              
             
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h1 class="title">Rnews•</h1>
          </div>
          <div class="col-md-3 col-6">
            <ul class="nav">
              <li class="nav-item">
                <a href="{% url 'index' %}" class="nav-link">
                  Home
                </a>
              </li>
            
              <li class="nav-item">
                <a href="{% url 'about' %}" class="nav-link">
                  About Us
                </a>
              </li>
              
            </ul>
          </div>
          <div class="col-md-3">
            <h3 class="title">Follow us:</h3>
            <div class="btn-wrapper profile text-left">
              <a target="_blank" href="https://www.facebook.com/andrabagaz.aditiya/" class="btn btn-icon btn-neutral btn-round btn-simple" data-toggle="tooltip" data-original-title="Facebook">
                <i class="fab fa-facebook-square"></i>
              </a>
              <a target="_blank" href="https://www.instagram.com/thrq_____/" class="btn btn-icon btn-neutral  btn-round btn-simple" data-toggle="tooltip" data-original-title="Instagram">
                <i class="fab fa-instagram"></i>
              </a>
  
      </div>
    </footer>
  </div>
{% endblock content %}