{% extends 'back/base.html' %}

{% block content %}
<br><br>
<br><br>
<div class="container">
    <form method="POST">
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Data Tables</h4>
              </div>
              <div class="card-body">
                <div class="toolbar">
        {% csrf_token %}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"> Nama </label>
          <p>{{ artikel.nama}}</p>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Kategori</label>
            <p>{{ artikel.kategori}}</p>
          </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Judul</label>
          <p>{{ artikel.judul}}</p>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Body</label>
            <p>{{ artikel.body}}</p>
          </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Date</label>
            <p>{{ artikel.date}}</p>
          </div>
{% endblock content %}