{% load static %}

<div class="sidebar-wrapper">
    <div class="user">
      <div class="photo">
        <img src="{% static 'back/img/DSC_2441.jpg' %}" />
      </div>
      <div class="info">
        <a data-toggle="collapse" href="#collapseExample" class="collapsed">
          <span>
            {{user}}
            <b class="caret"></b>
          </span>
        </a>
        <div class="clearfix"></div>
        <div class="collapse" id="collapseExample">
          <ul class="nav">
            <li>
              <a href="#">
                <span class="sidebar-mini-icon">MP</span>
                <span class="sidebar-normal">My Profile</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="sidebar-mini-icon">EP</span>
                <span class="sidebar-normal">Edit Profile</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="sidebar-mini-icon">S</span>
                <span class="sidebar-normal">Settings</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <ul class="nav">
        <li>
        <a href="{% url 'table_artikel' %}">
          <i class="nc-icon nc-single-copy-04"></i>
          <p>
            TABLE ARTIKEL
          </p>
        </a>
      </li>
      <li>
        <a href="{% url 'table_users' %}">
          <i class="nc-icon nc-calendar-60"></i>
          <p>TABLE USERS</p>
        </a>
      </li>
    </ul>
  </div>