{% extends 'back/base.html' %}

{% block content %}
<br><br>
<br><br>
<div class="container">
    <form method="POST">
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Detail My Profile</h4>
              </div>
              <div class="card-body">
                <div class="toolbar">
        {% csrf_token %}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"> Username </label>
          <p>{{ user.username}}</p>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <p>********</p>
          </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">First Name</label>
          <p>{{ user.first_name}}</p>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Last Name</label>
            <p>{{ user.last_name}}</p>
          </div>
{% endblock content %}